@model BookBooking.Models.BookDetailViewModel
@using BookBooking.Attributes

<div class="card" style="max-width: 500px;">
    <div class="row g-0">
        <div class="col-sm-5">
            <img src="~/@Model.GetImageUrl()" class="card-img-top h-100" alt="@Model.Title">
        </div>
        <div class="col-sm-7">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>

                <span class="badge bg-primary rounded-pill">
                    @Model.Status.Item.Status.GetDisplayName()
                </span>
                @{
                    var role = User.Claims.FirstOrDefault(x => x.Type.Contains("role")).Value;
                    var isAdmin = role == BookBooking.Models.UserRole.Admin.ToString();
                }

                @if (isAdmin)
                {
                    <a asp-action="Edit"
                       asp-route-id="@Model.Id"
                       class="btn btn-primary btn-block active" role="button" aria-pressed="true">この本を編集する</a>
                    <form asp-action="Delete"
                          asp-route-id="@Model.Id"
                          method="post">
                        <button class="btn btn-secondary btn-block">この本を削除する</button>
                    </form>
                }
                else
                {
                    if (
                        Model.Status.Item.Status == Models.BookStatus.BookStatusEnum.Reservation ||
                        Model.Status.Item.Status == Models.BookStatus.BookStatusEnum.Returning
                    )
                    {
                        <button id="@Model.Status.Item.NextActionName"
                                data-bookHistoryId="@Model.Status.BookHistoryId"
                                class="btn btn-primary stretched-link">
                            @Model.Status.Item.DisplayNextActionName
                        </button>
                        <div id="message"></div>
                        <div id="button_area"></div>
                    }
                    else
                    {
                        <form asp-route="@Model.Status.Item.NextActionName"
                              asp-route-id="@Model.Id"
                              method="post">
                            <button class="btn btn-primary stretched-link">@Model.Status.Item.DisplayNextActionName</button>
                        </form>
                    }

                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Views/Books/Detail.cshtml.js"></script>
}