<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookBooking</title>

    <environment include="Development">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">BookBooking</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            var role = User.Claims.FirstOrDefault(x => x.Type.Contains("role")).Value;
                            var isAdmin = role == BookBooking.Models.UserRole.Admin.ToString();
                            if (isAdmin)
                            {
                                <li class="nav-item">
                                    <a asp-controller="Books"
                                       asp-action="Create"
                                       class="nav-link active">本の登録</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="UserInfomation"
                                       asp-action="Index"
                                       class="nav-link active">利用者一覧</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Books"
                                       asp-action="Lending"
                                       class="nav-link active">入出庫処理</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a asp-controller="Account"
                                   asp-action="Edit"
                                   class="nav-link active">利用者情報</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="BookHistory"
                                   asp-action="Index"
                                   class="nav-link active">利用履歴</a>
                            </li>
                        }
                    }
                </ul>
                <span class="navbar-text">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @User.Claims.FirstOrDefault(x => x.Type.ToLower().Contains("emailaddress")).Value
                        <a asp-controller="Account"
                           asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <a asp-controller="Account"
                           asp-action="Login">LogIn</a>
                    }
                </span>
            </div>
        </div>
    </nav>
    
    <div class="container body-content">
        @Html.Partial("_FlashMessage")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2022 - BookBooking</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"
                integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"
                integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

